*
!*/
!*.tex
!*.md
!*.lit
!*.gabc
!horarium.html
!horarium/*/*
!.gitignore
!docs/*.pdf
*_model.tex
!docs/tones.txt
horarium/test.html
!*.py
!public/*

# rust support

!src/*
!src/*/*
!Cargo.toml

# Added by cargo

/target
